@charset "utf-8";
@import "bulma/sass/utilities/initial-variables.sass";
@import "bulma/sass/utilities/functions.sass";
$brand: #FF2D55;
$primary: $brand;
$link: rgb(0, 122, 255);

$box-shadow: 0 0 0 1px rgba($black, 0.1);
$body-background-color: $white-bis;
$modal-background-background-color: rgba($grey-light, 0.5);

@import "bulma/sass/utilities/derived-variables";
@import "bulma/sass/utilities/_all.sass";
