<footer class="footer">
  <div class="content has-text-centered">
    <p>
      &copy; 2019 Lukas Hechenberger
    </p>
    <p>
      Made with <a href="https://sapper.svelte.technology">Sapper</a> and <a href="https://bulma.io">Bulma</a>.
      <!-- FIXME: Uncomment once open source -->
      <!-- Check it out <a href="https://github.com/ls-age/landing-page">GitHub</a>. -->
    </p>
  </div>
</footer>

<style type="text/sass">
  @import "../../styles/theme.scss";
  @import "bulma/sass/layout/footer.sass";
  @import "bulma/sass/elements/content.sass";
</style>
