<script>
  export default {
    data() {
      return {
        year: new Date().getFullYear(),
      };
    },
  };
</script>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      &copy; {year} Lukas Hechenberger
    </p>
    <p>
      Made with <a href="https://sapper.svelte.technology">Sapper</a> and <a href="https://bulma.io">Bulma</a>.
      Check it out on <a href="https://github.com/ls-age/landing-page">GitHub</a>.
    </p>
  </div>
</footer>

<style type="text/scss">
  @import '../../styles/theme.scss';
  @import 'bulma/sass/elements/content.sass';
</style>
